* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.bmp binary
*.cur binary
*.gif binary
*.icns binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary

*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

*.dll binary
*.dylib binary
*.exe binary
*.pdb binary
*.so binary

*.7z binary
*.gz binary
*.tar binary
*.zip binary

*.mp3 binary
*.ogg binary
*.wav binary

*.db binary
*.sqlite binary
*.sqlite3 binary
